

/* banner design  */
.banner-bg-color{
    display: flex;
    background-color: #d898a6;
    align-items: center;
    /* width: 1920px;
    height: 850px; */
    justify-content: space-between;



}
.banner-header{
    font-size: 75px;
    padding-bottom: 30px;

}
.banner-left{
    padding-left: 240px;
    padding-top: 180px;
    padding-bottom: 100px;
    padding-right: 150px;


}
.banner-right{
    padding-top: 50px;
    padding-right: 200px; 
    padding-bottom: 0px;
}

.section-2{
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    text-decoration: center;
   margin-left: 150px;
   margin-right: 150px;



}
.common-box{
    align-items: center;
    text-decoration: center;
}
.section-1{
    text-align: center;
}
.optional-1{
   display: flex;

    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-around;
}
.box-styel{
    background-color: aliceblue;
    border-radius:100px;
}